@charset "UTF-8";

#gumb{

 float:right;
 display: inline;

}
i { 
    float:left;
}

#outer
{
    width:100%;
    text-align: center;
    
}
#inner
{
  
     width: 85%;     /* specify a width! */
  margin: 0 auto;
     
    
}
#n {
margin-left: 40px;
}

#wrapper {
  width: 85%;     /* specify a width! */
  margin: 0 auto; /* center */
}

#wrapper1 {
  width: 70%;     /* specify a width! */
  margin: 0 auto; /* center */
}
#div1{


  position:absolute;
    top:800px;
    left:190px;
    width:35%;
    border-radius: 5px;
    background-color: #f2f2f2;
}
#nekaj {
display: inline-block;
    margin: 5px;
    float:right;
}
#pdfbutton {
display:inline;
}
#mailbutton {
display:inline;
}

#div2{
  position:absolute;
    top:800px;
    right:230px;
    width:35%;
    border-radius: 5px;
    background-color:  #f2f2f2;
}

#div3{
    position:absolute;
    top:100px;
    width:73%;
    right:230px;
    border-radius: 5px;
    background-color:#f2f2f2;
 
}

#div4{
 
  position:absolute;
    top:800px;
   
    width:100%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

 #div5{
 
  position:absolute;
    top:1135px;
   
    width:100%;
    border-radius: 5px;
    background-color: #f2f2f2;
}
 
 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#d1{


  position:absolute;
    top:180px;
    left:190px;
    width:35%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#d2{
  position:absolute;
    top:180px;
    right:230px;
    width:35%;
    border-radius: 5px;
    background-color:  #f2f2f2;
}

 #naslov {
  width: 15%;     /* specify a width! */
  margin: 0 auto; /* center */
}


#div{

 border-radius: 5px;
    background-color: #f2f2f2;
     width: 40%;
     margin: 0 auto;
}


 #w {
  width: 70%;     /* specify a width! */
  margin: 0 auto; /* center */
}

#w1 {
  width: 30%;     /* specify a width! */
  margin: 0 auto; /* center */
}

 #wrap {
  width: 30%;     /* specify a width! */
  margin: 0 auto; /* center */
}